#sidebar.col-xs-6.col-sm-3.sidebar-offcanvas{:role => 'navigation'}
  %div{'data-offset-bottom' => '90', 'data-offset-top' => '45', 'data-spy' => 'affix'}
    %ul#sidebar-nav.nav
      %li= link_to 'Home', '#'
      %li= link_to 'My', '#section1'
      %li= link_to 'Their', '#section2'
